.container {
  background-color: white;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 200px;
  width: 65%;
  padding: 20px;
  font-size: 21px;
}
#navbarText {
  margin-left: 30%;
}
nav {
  border-bottom: white solid 10px;
}
img {
  width: 50%;
  height: 50%;
  float: left;
}
.img-fluid {
  margin: 10px;
}
body {
  background: url("./Assets/Images/background.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: cover;
}
.main-p {
  float: left;
}

.card {
  margin: 20px;
  width: 350px;
}
h1 {
  color: white;
}

.btn {
  background-color: black;
  width: 200px;
  color: white;
}

footer {
  position: fixed;
  padding-top: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin-bottom: 100px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
   text-align: center;
}