body,
html {
  /* height: 100%; */
  margin: 0;
}
 {
  font-family: "Big Shoulders Stencil Text", cursive;
  font-family: "EB Garamond", serif;
  font-family: "Kalam", cursive;
}

.main-block {
  background-color: white;
  margin: auto;
  margin-top: 75px;
  max-width: 90%;
  max-height: 90%;
  font-size: 21px;
  line-height: 40px;
  padding-top: 20px;
}

.background {
  /* background-size: 100%;
  background-size: cover; */
  background: url("./Images/kevin-ku.jpg") rgba(255, 0, 150, 0.3);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  /* background-repeat: no-repeat; */
}

h2 {
  color: black;
  font-family: "EB Garamond", serif;
  font-size: 50px;
}
.flex-column {
  align-items: center;
  margin-top: 40px;
}
.nav-link {
  color: white;
  font-size: 40px;
  font-family: "Big Shoulders Stencil Text", cursive;
  margin-top: -10px;
}
.nav-link:hover {
  color: rgb(255, 66, 8);
}
.nav-link:active {
  color: rgb(255, 66, 8);
}
.middle-section {
  padding: 15%;
}

#firstname {
  color: rgb(255, 66, 8);
  text-shadow: black 20px;
}
#lastname {
  color: rgb(255, 132, 0);
  text-shadow: black 20px;
}
#webdeveloper {
  font-family: "Kalam", cursive;
  color: white;
}
.linksimgs {
  align-items: center;
  height: 60px;
  width: 60px;
  margin: 20px;
  background-color: white;
  border-radius: 20%;
}
.linkblock {
  align-items: center;
}
.project-screenshot {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(255, 66, 8);
}

.project-card {
  padding: 10px;
}

button {
  width: 100%;
  display: block;
  background-color: blue;
  color: white;
  border-radius: 12px;
  margin-top: 10px;
}
#pdf-display {
  width: 60%;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
}
